{% extends 'base.html' %}
{% load static %}

{% block title %}
我的网站|注册
{% endblock %}



{% block header_extends %}
<link rel="stylesheet" href="{% static 'login.css' %}">

{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

<div class="cont">
  <div class="form sign-in">
    {% if not user.is_authenticated %}
      <h2>Welcome </h2>
      <label>
        <form action="" method="POST">
          {% csrf_token %}
          {% for field in reg_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <p class="text-danger">{{ field.errors.as_text }}</p>
          {% endfor %}
          <span class="text-danger">{{ reg_form.non_field_errors }}</span>
          <div class="clearfix"></div>
          <button id="send_code" class="btn btn-primary pull-left">发送验证码</button>
          <input type="submit" value="注册" class="btn btn-primary pull-right">
        </form>
      </label>

  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>注册</h2>
        <p>从现在开始</p>
      </div>


    </div>

  </div>

    {% else %}
      <span>已登录，跳转到首页...</span>
      <script type="text/javascript">
             window.location.href='/';
      </script>
    {% endif %}
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            var email = $("#id_email").val()
            if(email==""){
                $("#tip").text('*邮箱不能为空');
                return false;
            }

            //发送验证码
            $.ajax({
                url:"{% url 'send_verification_code' %}",
                type:"GET",
                data:{
                    'email':email,
                    'send_for':'register_code'
                },
                cache:false,
                success:function(data){
                    if(data['status']=='ERROR'){
                        alert(data['status']);
                    }
                }
            });
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            var time = 60;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time<=0){
                    clearInterval(interval)
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            },1000);
        });
    </script>
{% endblock %}



